---
export interface Item {
    term: string,
    zxj: string,
    yield: string,
    lockDays: string,
    availableDay: string
}

export interface Props {
	item: Item,
    buyAmount: number
}

const { item, buyAmount, maxIncomeItem } = Astro.props;

const rateMap = {
    '1':   0.00001,
    '2':   0.00002,
    '3':   0.00003,
    '4':   0.00004,
    '7':   0.00005,
    '14':  0.00010,
    '28':  0.00020,
    '91':  0.00030,
    '182': 0.00030
}

const fee = (buyAmount * Number(rateMap[item.term]))
const earnings = (buyAmount * Number(item.zxj) * Number(item.lockDays)/100/365) - fee

const profitIndex = 0.54
const ttbEarning = item.lockDays * profitIndex * buyAmount / 10000
const diff = (earnings - ttbEarning )

const mixEarnings = (maxIncomeItem.maxIncome * maxIncomeItem.item.lockDays * buyAmount / 10000 + (item.lockDays - maxIncomeItem.item.lockDays) * profitIndex * buyAmount / 10000 ).toFixed(2)


---
<div class="bg-white p-6 shadow rounded-lg mt-4">
      
  <div class="flex justify-between items-center mb-4">
    <h2 class="flex items-center space-x-2">
        {item.bestOnGivenDay && 
            <span class="skeleton badge bg-red-500 text-white text-xs">推荐</span>
        }
        <span class="text-sm font-medium">{item.term}天期</span>
        <span class="text-sm text-gray-500">{item.availableDay}</span>
    </h2>
    <div class="text-sm font-medium text-red-500">收益率: {item.zxj}%</div>
  </div>
  <div class="grid grid-cols-3 gap-x-4 gap-y-2 text-sm">
    <div class="col-span-2 grid grid-cols-2  grid-rows-6 ">
      <div>资金锁定天数</div>
      <div>手续费</div>
      <div class="font-medium " data-key="lockDays">{item.lockDays}</div>
      <div class="font-medium">{ fee.toFixed(3) }</div>
      <div>每10万收益</div>
      <div>最终收益</div>
      <div class="font-medium">{item.yield}</div>
      <div class="font-medium text-secondary">{ earnings.toFixed(3)}</div>
      <div></div>
      <div>每万元每日收益</div>
      <div></div>
      <div class="font-medium text-warning" data-key="incomePerThousand">
        {( earnings / item.lockDays / buyAmount * 10000).toFixed(4) }
      </div>
    </div>
    <div class="grid grid-cols-1  grid-rows-6 ">
      <div></div>
      <div>天天宝收益({profitIndex}元/万元)</div>
      <div class="font-medium text-primary">
        { ttbEarning.toFixed(2)}
        <span class={diff > 0  ? "font-medium text-red-500" : "font-medium text-green-500"}>
          { (diff > 0 ? "+": "-" ) + Math.abs(diff.toFixed(2)) }
        </span>
      </div>
      <div></div>
      <div>混合: {maxIncomeItem.item.term + "天期 + " + (item.lockDays - maxIncomeItem.item.lockDays) + ' 天天宝'}  </div>
      <div class={mixEarnings > earnings ? "text-green-500" : "text-red-500" }>
        { mixEarnings }
      </div>
    </div>

  </div>


</div>

